<div class="container">
    <h2 class="post-title"><a routerLink="/blogs/{{blog.slug}}">{{ blog.title }}</a></h2>
		<span>By <a routerLink="/user/{{ blog.author.id }}">{{ blog.author.pen_name}} </a> &nbsp;| {{ blog.pub_date | date: 'longDate' }} | 3 Comments </span>
		<div class="post-thumbnail"><a routerLink="/blogs/{{blog.slug}}"><img src="{{blog.welcome_image}}" alt="Blog-post Thumbnail"/></a></div>
		<div class="desc"><p>{{ blog.description }}</p></div>
	<div class="post-more"><a class="more-link" routerLink="/blogs/{{blog.slug}}">Read more</a></div>
</div>