<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
</div>
<div class="topnav">
    <div class="navbar-header">
       <a class="navbar-brand" href="/">Website Name</a>
    </div>
	<div class="topnav-right" *ngFor="let link of link_options; let i=index">
	  <a id = "{{ 'navbar-item-'+i }}" [ngClass]="{'active-nav': selectedid===i }" (click)="navbar_clicked(i)" routerLink="{{ link }}">{{ menu_options[i] }}</a>
  </div>
</div>
<div *ngIf="!(selectedid === -1 || selectedid === 2)" [ngClass]="selectedimage">
    <span class="page-title"><b>{{ menu_options[selectedid] }}</b></span>
</div>

<router-outlet></router-outlet>

<div *ngIf="loading" class="page-loader">
        <div class="loader">Loading...</div>

</div>

<!--TO MAKE FOOTER HERE-->
