
<div class="main" id="baap">
  <section class="module-small">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-1">
          <div id="blogpost" class="post">
            <div *ngIf="blogrecvd | async" class="post-thumbnail"><img src="{{ blog.welcome_image }}"/></div>
            <div class="post-header font-alt">
              <h1 class="post-title-big">{{ blog.title }}</h1>
              <div class="post-meta">By&nbsp;<a routerLink="/user/{{ blog.author.slug }}">{{blog.author.pen_name}}</a>| {{ blog.pub_date | date: 'longDate' }} | <span></span>
                    </div>
            </div>
            <div id="blogbody" style="white-space:normal; word-wrap: break-word;"></div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3 right-sidebar">
          <div class="container" align="center">
            <h4 class="widget-title font-alt">Related Terms</h4>
            <div class="tag-holder" align="center">
            <div *ngFor="let tg of blog.tags" class="tags" align="center">
              <a href="" rel="tag">{{ tg.name }}</a></div>
            <div class="tag-holder" *ngIf="blog.series">
            <div *ngFor="let gn of blog.series.genre" class="tags">
              <a href="" rel="tag">{{ gn.name }}</a>
            </div>
            </div>
          </div>
        </div>
          <br><br><br>

          <div class="container" *ngIf="blog.series" align="center">
            <h4 class="widget-title font-alt">Series</h4>
          <app-series-thumbnail [series] = "blog.series"></app-series-thumbnail>
          </div>
        </div>
      </div>
    </div>
</section>
</div>
<ng-template #loading>Loading User Data...</ng-template>


<modal #deleteUserModal id="deleteUser"
   [show-modal]="isModalOpen"
   [title]="'Enter Contact Details'"
   >
  <div class="popup-content">
    <p>Please Enter your Email ID. We promise to keep it secure.</p>
    <form>
    </form>
  </div>
  <div class="popup-footer">
    <button class="btn cancel"  aria-label="Close" (click)="deleteUserModal.hide()">
        Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="showAlert2()" aria-label="Close">
        Delete
    </button>
   </div>
 </modal>