<div class = "main">
<section class="module">
	<div class="row">
	<div class = "container col-sm-6 col-md-6 col-sm-offset-1" >
	<form id="searchseries" role="search" onkeypress="return event.keyCode != 13">
	    <div class="form-group">
	        <input type="text" #box (keyup)="onKey(box.value)" class="form-control" placeholder="Search">
	        <!--ul *ngFor="let blog of blogs">
	        	<li>{{blog.title}}</li>
	        </ul-->
	    </div>
	</form>

            <div class="container">
            <div id="{{'masonry-series-item-'+i}}" *ngFor="let ser of series; let i = index;">
			 	<div class="container-fluid" (mouseover)="hoverover(ser, i)"><app-series-thumbnail [arrowtoggle]="currenthover==i" [series]="ser"></app-series-thumbnail></div>
			</div>
			<!--/ng-masonry-grid-item>
		</ng-masonry-grid-->
	</div>
	</div>
	<div class = "container col-sm-6 col-md-6">
		<div class="scrolling">
		<app-blog-list *ngIf="slugsearch" [seriesslug] = "slugsearch"></app-blog-list>
		</div>
	</div>
</div>
</section>
</div>






