
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-left:20px solid black; 
}
.arrow-down {
  width: 0; 
  height: 0; 
  border-top: 20px solid black;
  border-right: 20px solid transparent; 
  border-left:20px solid transparent; 
  cursor: pointer;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-bottom: 20px solid black;
  border-right: 20px solid transparent; 
  border-left:20px solid transparent;
  cursor: pointer; 
}

.col-mid {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: relative;
  align-items: center;
}

.row-centered {
text-align:center;
}
.col-centered {
display:inline-block;
float:none;
/* reset the text-align */
text-align:left;
/* inline-block space fix */
margin-right:-4px;
}

.toshow
{
  display:none;
}

.post-title{
  text-transform: uppercase;
}

.scrolling-wrapper {
  /*TODO: Add animation here;*/

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 20px;
  .card {
    flex: 0 0 auto;
  }
}

img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    max-height:400px;
    float: center;
}

.card {
  width:100%;
  max-width: 100%;
}

.row-full{
 width: 100vw;
 position: relative;
 margin-top: 100px;
 
}
